<h2><%= customer.full_name %></h2>
<p><strong>Phone Number:</strong> <%= customer.phone_number %></p>
<p><strong>Province:</strong>
<% if customer.province.present? %>
	<%= customer.province.name %></p>
<% else %>
	None
<% end %>